$font-weight-normal: 500;

// Colors
$primary: #aa0044;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$component-active-bg: $primary;

// // Body
$body-bg: #fff;
$body-color: darken($primary, 20);

// Cards
$card-spacer-x: 2rem;
$card-spacer-y: 2rem;
$card-cap-bg: white;
$card-border-color: #e8eced;
$card-border-width: 0;

// Borders
$border-radius: 1rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

// Fonts
$font-family-sans-serif: 'Montserrat', sans-serif;
$small-font-size: .65rem;

// Buttons
$btn-padding-y: 1.375rem;
$btn-padding-x: 2.5rem;
$btn-font-size: .8rem;
$btn-line-height: 1;
$btn-font-weight: 700;
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, transform .15s ease, opacity .15s ease;
$btn-focus-box-shadow: none;
$btn-focus-width: 0;

// Forms
$input-focus-box-shadow: none;
$input-padding-y: 1.25rem;
$input-padding-x: 1.25rem;
$input-font-size: .8rem;
$input-line-height: 1;
$form-group-margin-bottom: 1.75rem;
$input-color: $body-color;
$input-focus-border-color: lighten($primary, 15);

// Modal
$modal-inner-padding: 2rem;
$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 768px !default;
$modal-sm: 300px !default;
$modal-content-border-radius: $border-radius;


// Table
$table-cell-padding: 1rem;
$table-hover-bg: rgba($black,  .02);