.card {
  box-shadow: 0 5px 30px rgba(darken($primary, 20), .1);
  
  &-title {
    color: $primary;
    font-weight: 800;
    font-size: 3rem;
    margin-top: -2rem;
  }

  &-header {
    font-weight: 800;
    font-size: 1.5rem;
    background: none;
    border-bottom: 1px solid $gray-300;
  }

}
